@use "sass:math";
@use "../../foundation/mixin";
@use "../../foundation/variables" as var;

//header - search box
.c-searchBox {
  position: relative;
  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(../../../images/header_searchBox.svg);
    position: absolute;
    top: 10px;
    left: 10px;
  }
  input {
    margin-right: 16px;
    padding-left: 40px;
    width: calc(100% - 9rem - 16px);
    height: 46px;
    border: 1px solid var.$gray-color;
    border-radius: 10px 8px 10px 10px;
    background: var.$white-color;
    
    @include mixin.breakpoint(tablet) {
      margin-right: 14px;
      width: calc(100% - 13.6rem - 14px);
    }
  }
  button {
    padding: 0 28px;
    border: 1px solid var.$gray-color;
    border-radius: 10px;
    background: linear-gradient( to left bottom, var.$menuBtn-1, var.$menuBtn-2);
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: inherit;
    line-height: 4.4rem;

    @include mixin.breakpoint(tablet) {
      padding: 0 51px;
    }
  }
}

//front page  - content
.c-content {
  padding: 13px 0 16px; 
  width: 100%;
  max-width: 450px;
  height: 642px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mixin.breakpoint(tablet) {
    padding-top: 16px;
    width: 43%;
    // max-width: 467px;
    height: 681px;
  }

  @include mixin.breakpoint(pc) {
    padding: 28px 0 20px;
    width: 40%;
    max-width: 617px;
    // height: 62vw;
    height: 100%;
    max-height: 1197px;
  }

    h2 {
      padding-left: 13px;
      position: relative;
      color: var.$white-color;
      font-family: "Roboto", sans-serif;
      font-size: 4.1rem;
      font-weight: 700;
      font-style: normal;
      line-height: 1.17;

      @include mixin.breakpoint(tablet) {
        font-size: 4.4rem;
      }

      @include mixin.breakpoint(pc) {
        padding-left: 22px;
      }

        &::before {
          content: "";
          width: 34px;
          height: 4px;
          background-color: var.$white-color;
          position: absolute;
          bottom: -21.3px;
          left: 15px;

          @include mixin.breakpoint(tablet) {
            width: 36px;
            bottom: -25.6px;
          }

          @include mixin.breakpoint(pc) {
            width: 63px;
            bottom: -38.5px;
            left: 25.5px;
          }
        }
    }
    dl {
      margin: 0 16px;

      @include mixin.breakpoint(pc) {
        margin: 0 20px;
      }
    }
    &__dl {
      padding: 16px;
      background-color: rgb(255 255 255 /.8);
      color: var.$font-color;

      @include mixin.breakpoint(pc) {
        padding: 14px 20px;
      }

        & + .c-content__dl {
          margin-top: 16px;

          @include mixin.breakpoint(pc) {
            margin-top: 20px;
          }
        }
        dt {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.1;

          @include mixin.breakpoint(tablet) {
            font-size: 2.4rem;
            line-height: 1;
          }
        }
        dd {
          margin-top: 8px;
          font-size: 1.6rem;
          line-height: 1.5;

          @include mixin.breakpoint(tablet) {
            margin-top: 16px;
            font-size: 1.4rem;
          }

          @include mixin.breakpoint(pc) {
            margin-top: 18px;
          }
        }
    }
}