@use "../../foundation/variables" as var;

.c-pageList {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid var.$gray-color;
  display: inline-block;
  line-height: 3.5rem;
  text-align: center;

  &:hover {
    background-color: var.$cardBg-color;
    color: var.$white-color;
  }
}