@use "../../foundation/mixin";
@use "../../foundation/variables" as var;

.p-about {
  background: url(../../../images/front_about_map.jpg) center/cover;
  position: relative;

    &__bg {
      background-color: rgb(0 0 0 /.28);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60%;

      @include mixin.breakpoint(tablet) {
        height: 100%;
      }

      @include mixin.breakpoint(pc) {
        width: 60%;
        max-width: 950px;
      }

      @include mixin.breakpoint(pc2) {
        width: 60%;
        max-width: 950px;
      }
    }
    &__text {
      padding: 42px 40px 57px;
      height: 100%;
      min-height: 691px;
      background-color: rgb(0 0 0 /.3);
      position: relative;
      color: var.$white-color;

      @include mixin.breakpoint(tablet) {
        padding-bottom: 40px;
        min-height: 415px;
      }

      @include mixin.breakpoint(pc) {
        padding: 86px 119px 75px;
        min-height: 649px;
      }

        h2 {
          position: relative;
          font-size: 3rem;
          line-height: 1.5;

          @include mixin.breakpoint(pc) {
            font-size: 3.6rem;
          }
          
            &::before {
              content: "";
              width: 75px;
              height: 2px;
              background-color: var.$white-color;
              position: absolute;
              bottom: -15px;
              left: 0;

              @include mixin.breakpoint(pc) {
                bottom: -50px;
              }
            }
        }
        p {
          margin-top: 29px;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2.35;

          @include mixin.breakpoint(pc) {
            margin-top: 109px;
            font-size: 1.6rem;
            width: 45%;
            max-width: 697px;
          }
        }
    }
}