@use "../../foundation/mixin";
@use "../../foundation/variables" as var;

.p-nav {
  background-color: var.$menuBg-color;

  &__mask {
    background-color: rgb(0 0 0 /.5);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.p-menu {
  background-color: var.$menuBg-color;
  color: var.$gray-color;
  font-family: "m-plus-1m", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;

  &__btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 8px;
    right: 11px;

    @include mixin.breakpoint(pc) {
      display: none;
    }

    >span {
      font-size: 0;
    }

    &::before,
    &::after {
      content: "";
      width: 45px;
      height: 6px;
      background: var.$gray-color;
      display: block;
      position: absolute;
      top: 18px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  h2 {
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 3.4rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.17;

    @include mixin.breakpoint(pc) {
      display: block;
    }
  }

  .p-menuList {
    @include mixin.breakpoint(pc) {
      margin-top: 90px;
    }

    >li:not(:first-child) {
      margin-top: 60px;

      @include mixin.breakpoint(tablet) {
        margin-top: 48px;
      }
    }

    &__item {
      margin-top: 40px;
      padding-left: 20px;
      font-size: 2rem;
      font-weight: 400;

      @include mixin.breakpoint(tablet) {
        margin-top: 32px;
      }

      li+li {
        margin-top: 20px;
      }
    }

  }
}