@use "../../foundation/mixin";
@use "../../foundation/variables" as var;

.p-archive {
  background-color: var.$bg-color;

  &__mv {
    height: var.$mv_height;
    background-image: url(../../../images/archive_mv.jpg);
    background-position: left;
    position: relative;

    @include mixin.breakpoint(pc) {
      height: var.$mv_height--pc;
      background-image: url(../../../images/archive_mv_pc.jpg);
      background-position: center;
    }

    &::before {
      content: "";
      background-color: rgb(0 0 0 /.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;     
    }
  }

  &__title {
    position: absolute;
    top: 106px;
    left: 37px;
    color: var.$white-color;
    font-weight: 700;

    @include mixin.breakpoint(tablet) {
      top: 107px;
      left: 86px;
    }

    @include mixin.breakpoint(pc) {
      top: 83px;
      left: 86px;
    }

    h1 {
      position: relative;
      font-family: "Roboto", sans-serif;
      font-size: 3.6rem;
      font-weight: 700;
      font-style: normal;
      line-height: 1.17;

      @include mixin.breakpoint(tablet) {
        font-size: 6rem;
      }

      span {
        display: inline-block;
        position: absolute;
        top: calc(100% + 12px);
        left: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        white-space: nowrap;
  
        @include mixin.breakpoint(tablet) {
          top: 2.9rem;
          left: calc(100% + 19px);
        }
  
        @include mixin.breakpoint(pc) {
          top: 3.1rem;
        }
      }
    }
  }
 
  &__main {
    padding: 32px 20px;

    @include mixin.breakpoint(tablet) {
      padding: 39px 40px 32px;
    }

    @include mixin.breakpoint(pc) {
      padding: 63px 6.4%;
    }

    h2 {
      font-size: 2.8rem;
      font-weight: 700;

      @include mixin.breakpoint(tablet) {
        font-size: 3.6rem;
      }
    }

    p {
      margin-top: 25px;

      @include mixin.breakpoint(tablet) {
        margin-top: 20px;
      }
    }
  }

  &__inner {
    margin: 0 auto;
    max-width: 400px;

    @include mixin.breakpoint(tablet) {
      max-width: 800px;
    }

    @include mixin.breakpoint(pc) {
      max-width: 1353px;
    }
  }
}

.p-archiveList {
  margin-top: 19px;
  width: 100%;

  @include mixin.breakpoint(tablet) {
    margin-top: 37px;
  }

  @include mixin.breakpoint(pc) {
    margin-top: 70px;
  }

  .p-card + .p-card {
    margin-top: 20px;

    @include mixin.breakpoint(pc) {
      margin-top: 30px;
    }
  }
}