@use "../../foundation/mixin";
@use "../../foundation/variables" as var;

.p-archive {
  padding-bottom: 32px;
  background-color: var.$bg-color;

  @include mixin.breakpoint(pc) {
    padding-bottom: 64px;
  }


  &__mv {
    height: var.$mv_height;
    background-image: url(../../../images/archive_mv.jpg);
    background-position: left;
    position: relative;

    @include mixin.breakpoint(pc) {
      height: var.$mv_height--pc;
      background-image: url(../../../images/archive_mv_pc.jpg);
      background-position: center;
    }

    &::before {
      content: "";
      background-color: rgb(0 0 0 /.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;     
    }
  }

  &__title {
    margin-left: 10%;
    color: var.$white-color;
    font-weight: 700;

    @include mixin.breakpoint(tablet) {
      margin-left: min(10%, 86px);
    }

    h1 {
      height: calc(3.6rem + 1.6rem * 1.5 + 15px);  //spanも含めた高さ
      position: relative;
      font-family: "Roboto", sans-serif;
      font-size: 3.6rem;
      font-weight: 700;
      font-style: normal;
      line-height: 1;

      @include mixin.breakpoint(tablet) {
        height: auto;
        font-size: 6rem;
      }

      span {
        display: inline-block;
        position: absolute;
        top: calc(3.6rem + 15px);
        left: 0;
        font-size: 1.6rem;
        line-height: 1.5;
        text-wrap: nowrap;
  
        @include mixin.breakpoint(tablet) {
          top: 2.4rem;
          left: calc(100% + 19px);
        }
  
        @include mixin.breakpoint(pc) {
          top: 2.6rem;
        }
      }
    }
  }

  &__wrapper {
    @include mixin.breakpoint(pc) {
      width: 87%;
      max-width: 1353px;
    }
  }
 
  &__main {
    margin-top: 32px;

    @include mixin.breakpoint(tablet) {
      margin-top: 39px;
    }

    @include mixin.breakpoint(pc) {
      margin-top: 63px;
    }

    h2 {
      font-size: 2.8rem;
      font-weight: 700;

      @include mixin.breakpoint(tablet) {
        font-size: 3.6rem;
      }
    }

    p {
      margin-top: 25px;

      @include mixin.breakpoint(tablet) {
        margin-top: 20px;
      }
    }
  }
}

.p-archiveList {
  margin-top: 19px;
  width: 100%;

  @include mixin.breakpoint(tablet) {
    margin-top: 37px;
  }

  @include mixin.breakpoint(pc) {
    margin-top: 70px;
  }
}