@use "sass:math";
@use "../../foundation/mixin";
@use "../../foundation/variables" as var;


.p-content {
  padding: 13px 0 16px;
  width: 100%;
  min-height: 642px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mixin.breakpoint(tablet) {
    padding-top: 16px;
    min-height: 681px;
  }

  @include mixin.breakpoint(pc) {
    padding: 28px 0 20px;
    min-height: 800px;
  }

  @include mixin.breakpoint(pc2) {
    min-height: 1197px;
  }

  h2 {
    padding-left: 13px;
    position: relative;
    color: var.$white-color;
    font-family: "Roboto", sans-serif;
    font-size: 4.1rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.17;

    @include mixin.breakpoint(tablet) {
      font-size: 4.4rem;
    }

    @include mixin.breakpoint(pc) {
      padding-left: 22px;
      font-size: min(4vw, 8rem);
    }

    &::before {
      content: "";
      width: 34px;
      height: 4px;
      background-color: var.$white-color;
      position: absolute;
      bottom: -21.3px;
      left: 15px;

      @include mixin.breakpoint(tablet) {
        width: 36px;
        bottom: -25.6px;
      }

      @include mixin.breakpoint(pc) {
        width: 63px;
        bottom: -38.5px;
        left: 25.5px;
      }
    }
  }

  dl {
    margin: 200px 16px 0;

    @include mixin.breakpoint(pc) {
      margin: 250px 20px 0;
    }
  }

  &__dl {
    padding: 16px;
    background-color: rgb(255 255 255 /.8);

    @include mixin.breakpoint(pc) {
      padding: 14px 20px;
    }

    &:not(:first-child) {
      margin-top: 16px;

      @include mixin.breakpoint(pc) {
        margin-top: 20px;
      }
    }

    dt {
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.1;

      @include mixin.breakpoint(tablet) {
        font-size: 2.4rem;
        line-height: 1;
      }
    }

    dd {
      margin-top: 8px;

      @include mixin.breakpoint(tablet) {
        margin-top: 16px;
        font-size: 1.4rem;
      }

      @include mixin.breakpoint(pc) {
        margin-top: 18px;
      }
    }
  }

  &.-takeOut {
    background: url(../../../images/front_toc-1.jpg) center/cover;
    h2 {
      color: var.$title-color;
    }
  }

  &.-eatIn {
    background: url(../../../images/front_toc-2.jpg) center/cover;
  }
}