@use "../../foundation/mixin";
@use "../../foundation/variables" as var;

.p-main {
  background-color: var.$bg-color;

  &__mv {
    width: 100%;
    height: 285px;
    background: url(../../../images/front_mv.jpg) center/cover;
    position: relative;

    @include mixin.breakpoint(pc) {
      height: 27.5vw;
      max-height: 530px;
    }

      h1 {
        position: absolute;
        top: 122px;
        left: 25px;
        color: var.$white-color;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.5;

        @include mixin.breakpoint(tablet) {
          top: 120px;
          left: 86px;
        }

        @include mixin.breakpoint(pc) {
          top: calc(50% - 2rem);
          font-size: 4rem;
        }
       }
  }
}

.p-takeOut {
  background: url(../../../images/front_toc-1.jpg) center/cover;
  h2 {
    color: var.$title-color;
  }
}

.p-eatIn {
  background: url(../../../images/front_toc-2.jpg) center/cover;
}