@use "../../foundation/variables" as var;

.p-header {
  &__title {
    font-size: 4rem;
  }
  &__search {
    margin-top: 40px;
    width: 50%;
    min-width: 326px;
      input {
        margin-right: 16px;
        width: calc(100% - 9.4rem - 16px);
        min-width: 216px;
        height: 46px;
        border: 1px solid var.$gray-color;
        border-radius: 10px 8px 10px 10px;
        background: var.$white-color;
      }
      button {
        padding: 8px 30px;
        border: 1px solid var.$gray-color;
        border-radius: 10px;
        background: linear-gradient( to left bottom, var.$menuBtn-1, var.$menuBtn-2);
        font-family: "M PLUS 1p", sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        color: inherit;
      }
  }
  &__menuBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 2rem;
    color: inherit;
  }
}