@use "../../foundation/mixin";
@use "../../foundation/variables" as var;

.p-header {
  color: var.$gray-color;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;

  &__title {
    font-size: 4rem;
    line-height: 1.17;

    @include mixin.breakpoint(pc) {
      font-size: clamp(4rem, 3.3vw, 6.4rem);
    }
  }

  &__search {
    margin-top: 40px;
    width: 86%;
    max-width: 546px;

    @include mixin.breakpoint(tablet) {
      margin-top: 38px;
    }

    @include mixin.breakpoint(pc) {
      margin-top: 0;
    }
  }

  &__menuBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    color: inherit;
    font-size: 2rem;
    line-height: 1;

    @include mixin.breakpoint(tablet) {
      top: 20px;
      right: 25px;
      font-size: 3.4rem;
    }

    @include mixin.breakpoint(pc) {
      display: none;
    }
  }
}