@use "../../foundation/mixin";
@use "../../foundation/variables" as var;

.p-nav {
  &__mask {
    background-color: rgb(0 0 0 /.5);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.p-menu {
  padding: 178px 0 178px 46px;
  width: 328px;
  height: 100vh;
  background-color: var.$menuBg-color;
  position: fixed;
  top: 0;
  right: -328px;
  z-index: 10;
  overflow-y: auto;
  color: var.$gray-color;
  font-family: "m-plus-1m", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;

  &__btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 8px;
    right: 11px;

    > span {
      font-size: 0;
    }

    &::before,
    &::after {
      content: "";
      width: 45px;
      height: 6px;
      background: var.$gray-color;
      display: block;
      position: absolute;
      top: 18px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  h2 {
    display: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .p-menuList {
    > li:not(:first-child) {
      margin-top: 60px;
    }

    &__item{
      margin-top: 40px;
      padding-left: 20px;
      font-size: 2rem;
      font-weight: 400;
  
      li + li {
        margin-top: 20px;
      }
    }

  }
}