@use "../../foundation/mixin";
@use "../../foundation/variables" as var;

.p-searchBox {
  position: relative;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(../../../images/header_searchBox.svg);
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__input {
    margin-right: 16px;
    padding-left: 40px;
    width: calc(100% - 9rem - 16px);
    height: 46px;
    background: var.$white-color;

    @include mixin.breakpoint(tablet) {
      margin-right: 14px;
      width: calc(100% - 13.6rem - 14px);
    }
  }

  &__btn {
    padding: 0 28px;        
    background: linear-gradient(to left bottom, var.$menuBtn-1, var.$menuBtn-2);
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: inherit;
    line-height: 4.4rem;

    @include mixin.breakpoint(tablet) {
      padding: 0 51px;
    }
  }
}