@use "../../foundation/mixin";
@use "../../foundation/variables" as var;

.p-single {
  background-color: var.$bg-color;

  &__mv {
    height: var.$single_height;
    background-image: url(../../../images/single_mv.jpg);

    @include mixin.breakpoint(tablet) {
      height: var.$single_height--tab;
    }

    @include mixin.breakpoint(pc) {
      height: var.$single_height--pc;
    }
  }

  &__title {
    margin-left: 7%;
    color: var.$white-color;
    font-size: 3.6rem;

    @include mixin.breakpoint(tablet) {
      margin-left: min(10%, 86px);
      font-size: 6rem;
    }
  }
}

.p-article {
  padding: 34px 0 69px;

  @include mixin.breakpoint(tablet) {
    padding: 60px 0 149px;
  }

  @include mixin.breakpoint(pc) {
    padding: 63px 0 274px;
  }

  &__wrapper {
    max-width: none;

    @include mixin.breakpoint(tablet) {
      width: 86%;
    }

    @include mixin.breakpoint(pc) {
      width: 87%;
      max-width: 1353px;
    }
  }

  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 2rem;
  }

  &__cite {
    padding: 30px 20px;
    background-color: var.$citeBg-color;

    @include mixin.breakpoint(tablet) {
      padding: 50px 50px 60px;
    }

    figcaption {
      .cite__link {
        color: var.$citeLink-color;
        text-decoration: underline;
      }
    }
  }

  &__img {
    width: 100%;
    height: 33vw;
    max-height: 500px;
    object-fit: cover;
    object-position: bottom;

    &--center {
      margin: 30px auto 0;
      width: 80%;
      max-width: 581px;
      height: auto;
      display: block;

      @include mixin.breakpoint(tablet) {
        margin-top: 60px;
      }
    }
  }

  .p-figure {
    display: flex;
    gap: 3%;

    &.-right {
      flex-direction: row-reverse;
    }

    &__img {
      width: 43%;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__caption {
      width: 54%;
    }
  }

  &__gallery {
    display: grid;
    gap: 20px;

    @include mixin.breakpoint(tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @include mixin.breakpoint(pc) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__list {

    @include mixin.breakpoint(tablet) {
      margin-left: 50px;
    }

    &.-ordered {
      li {
        list-style-position: inside;
      }

      ol {
        margin: 17px 18px;
      }
    }

    &.-unOrderd {
      ul {
        margin: 17px 18px;
      }
    }
  }

  &__pre {
    padding: 50px min(15%, 50px);
    background-color: var.$citeBg-color;
    white-space: pre-wrap;

    code {
      font-family: "M PLUS 1p", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    background: var.$white-color;

    td {
      padding: 24px;
      border: solid 1px var.$gray-color;
    }
  }

  &__btn {
    padding: 28px 138px;
    border-radius: 20px;
    font-weight: 700;

    @include mixin.breakpoint(tablet) {
      padding: 42px 190px;
    }
  }

  &__bold {
    font-weight: 700;
  }
}