@use "../foundation/mixin";

@include mixin.breakpoint(pc) {
  .l-container {
    display: flex;

    .l-body {
      // heightつけるとstrech効かなくなる
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .l-sideBar {
      width: 20%;
      min-width: 300px;
    }
  }
}