@use "../foundation/mixin";

@include mixin.breakpoint(pc) {
  .l-container {
    height: 100%;
    display: flex;
    overflow: hidden;

    .l-body {
      height: 100%;
      flex-grow: 1;
    }

    .l-sideBar {
      padding-bottom: 10000px;
      margin-bottom: -10000px;
      width: 20%;
      min-width: 300px;
    }
  }
}