@use "../foundation/mixin";

@include mixin.breakpoint(pc) {
  .l-container {
    display: flex;

    .l-body {
      // heightつけるとstretch効かなくなる
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .l-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;  //l-bodyへのflex子要素
      }
    }

    .l-sideBar {
      width: 20%;
      min-width: 300px;
    }
  }
}